.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

body::-webkit-scrollbar {
	width: 1rem;
	background-color: transparent;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px transparent;
	-webkit-box-shadow: inset 0 0 6px transparent;
	/* border-radius: 50px; */
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px transparent;
	-webkit-box-shadow: inset 0 0 6px transparent;
	background-color: #2196f3;
}

body::-moz-scrollbar {
	width: 1rem;
	background-color: transparent;
}

body::-moz-scrollbar-track {
	box-shadow: inset 0 0 6px transparent;
	-moz-box-shadow: inset 0 0 6px transparent;
	/* border-radius: 50px; */
	background-color: transparent;
}

body::-moz-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px transparent;
	-moz-box-shadow: inset 0 0 6px transparent;
	background-color: #2196f3;
}

body::-o-scrollbar {
	width: 1rem;
	background-color: transparent;
}

body::-o-scrollbar-track {
	box-shadow: inset 0 0 6px transparent;
	-o-box-shadow: inset 0 0 6px transparent;
	/* border-radius: 50px; */
	background-color: transparent;
}

body::-o-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px transparent;
	-o-box-shadow: inset 0 0 6px transparent;
	background-color: #2196f3;
}

body::-ms-scrollbar {
	width: 1rem;
	background-color: transparent;
}

body::-ms-scrollbar-track {
	box-shadow: inset 0 0 6px transparent;
	-ms-box-shadow: inset 0 0 6px transparent;
	/* border-radius: 50px; */
	background-color: transparent;
}

body::-ms-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px transparent;
	-ms-box-shadow: inset 0 0 6px transparent;
	background-color: #2196f3;
}
