.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

body::-webkit-scrollbar {
	width: 7px;
	background-color: #2196f3;
}

body::-webkit-scrollbar-track {
	/* border-radius: 50px; */
	background-color: #2196f3;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: white;
}

body::-moz-scrollbar {
	width: 7px;
	background-color: #2196f3;
}

body::-moz-scrollbar-track {
	/* border-radius: 50px; */
	background-color: #2196f3;
}

body::-moz-scrollbar-thumb {
	border-radius: 10px;
	background-color: white;
}

body::-o-scrollbar {
	width: 7px;
	background-color: #2196f3;
}

body::-o-scrollbar-track {
	/* border-radius: 50px; */
	background-color: #2196f3;
}

body::-o-scrollbar-thumb {
	border-radius: 10px;
	background-color: white;
}

body::-ms-scrollbar {
	width: 7px;
	background-color: #2196f3;
}

body::-ms-scrollbar-track {
	/* border-radius: 50px; */
	background-color: #2196f3;
}

body::-ms-scrollbar-thumb {
	border-radius: 10px;
	background-color: white;
}
